.container, .emptyContainer {
  width: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
}

.emptyContainer {
  height: 100%;
  min-height: 630px;
}
